<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{> header}}
    <title>{{titulo}}</title>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {{> navbar}}
        <script>
           document.addEventListener("DOMContentLoaded", function () {
            consultarCompra();
});

        </script>
        <div class="content-wrapper" style="min-height: 909.40px;">
            <!-- Content Header (Page header) -->
            <section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">{{subtitulo}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="acciones"></div>
                <input type="text" class="form-control" id="id" style="width: 100%" />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numFactura">Numero Factura</label>
                        <input type="text" class="form-control" id="numFactura" placeholder="Numero de factura" style="width: 100%;" />
                    </div>
                    <div class="textoF" id="textoF"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fechaCompra">Fecha Compra</label>
                            <input type="text" class="form-control" id="fechaCompra" placeholder="Fecha Compra" style="width: 100%;" />
                        </div>
                        <div class="textoc" id="textoc"></div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fechaRegistro">Fecha Registro</label>
                            <input type="text" class="form-control" id="fechaRegistro" placeholder="Fecha Registro" style="width: 100%;" />
                        </div>
                        <div class="texto" id="texto"></div>
                    </div>
                    <!-- /.form-group -->
                </div>

                <!-- /.col -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="proveedor">Proveedor</label>
                            <input type="text" class="form-control" id="proveedor" placeholder="Digite el Proveedor" style="width: 100%;" />
                        </div>
                        <div class="texto2" id="texto2"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control select2bs4" style="width: 100%;" id="estado">
                                <option selected="selected">Elija el estado</option>
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="producto">Producto</label>
                            <input type="text" class="form-control" id="producto" placeholder="Digite el producto" style="width: 100%;" />
                        </div>
                        <div class="texto3" id="texto3"></div>
                    </div>
                    <!-- /.form-group -->
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select class="form-control select2bs4" style="width: 100%;" id="categoria">
                                <option selected="selected">Elija una categoria</option>
                                <option>Belleza</option>
                                <option>limpieza</option>
                            </select>
                        </div>
                        <div class="texto4"></div>
                        <br />
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="precioCompra">Precio Compra</label>
                            <input type="text" class="form-control" id="precioCompra" placeholder="Digite su precio Compra" style="width: 100%;" />
                        </div>
                        <!-- /.form-group -->
                        <div class="texto5" id="texto5"></div>
                    </div>
                </div>

                <!-- /.col -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="precioVenta">Precio Venta</label>
                            <input type="text" class="form-control" id="precioVenta" placeholder="Digite su precio Venta" style="width: 100%;" />
                        </div>
                        <div class="texto7" id="texto7"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" placeholder="Digite la cantidad" style="width: 100%;" />
                        </div>
                        <div class="texto8" id="texto8"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="observaciones">Observaciones</label>
                            <input type="text" class="form-control" id="observaciones" placeholder="Observaciones" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="totalCompra">Total Compra</label>
                            <input type="text" class="form-control" id="totalCompra" placeholder="Digite su precio Compra" style="width: 100%;" />
                        </div>
                        <div class="texto6" id="texto6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <input class="sendbtn btn btn-success" id="guardarProducto" type="button" value="Guardar" onclick="guardarProducto(event)">
                        <input class="sendbtn btn btn-success" id="agregarProducto" type="button" value="Agregar Producto" onclick="agregarProducto()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">{{subtitulo}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!--tabla donde se van a ir agregando los productos de la compra -->
                <table id="detalleTabla" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Compra</th>
                            <th>Precio Venta</th>
                            <th>Categoria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="detalleProductos">


                        <tr>
                            <td>
                                <input type="" class="form-control" id="idproducto" style="width: 100%" />
                            </td>
                        </tr>
                    </tbody>


                </table>
                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <input class="sendbtn btn btn-success" id="#btnActualizar" type="button" value="Actualizar" onclick="actualizar()">
                        <input class="sendbtn btn btn-danger" id="cancelar" type="button" value="Cancelar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{{> footer}}
</div>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<script src="../../js/funcionesCompras.js"></script>
<script src="../../js/consumirCompras.js"></script>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="https://kit.fontawesome.com/4de2284caa.js" crossorigin="anonymous"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false, "autoWidth": false, "buttons": ["copy", "csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>

</body>

</html>
